@page "/Reportes/Productos"
@using ProyectoFinalAp2.Models;
@using ProyectoFinalAp2.Controllers;
@using ProyectoFinalAp2.Data; 
@using System.IO;
@inject ExportService exportService
@inject Microsoft.JSInterop.IJSRuntime JS

    <div class="card">
        <div class="card-header alert-info">
            <div class="text-center">
                <img src="Resources/favicon.ico" height="90" />
            </div>

            <div class="text-center">
                <h3 class="text-center text-black-50">ButterSoft</h3>
                <h3 class="text-center text-black-50">Reporte de Productos</h3>
            </div>

            <div class="float-right mb-4">
                <label for="FECHA">Fecha de impresión: @Fecha </label>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> ID de Producto </th>
                        <th> Descripción </th>
                        <th> Cantidad </th>
                        <th> Precio </th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    @foreach (var producto in Lista)
                    {
                        <tr>
                            <td>@producto.ProductoId</td>
                            <td>@producto.Descripcion</td>
                            <td>@producto.Cantidad</td>
                            <td>@producto.Precio</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <label for="GANANCIA">Cantidad Total</label>
            <input @bind="@Total" class="form-control" step="00.2" readonly />
        </div>

        <button class="btn btn-primary" @onclick="@ExportToPdf">Exportar a PDF</button>
    </div>


@code {
    List<Productos> Lista = new List<Productos>();
    String Fecha;
    decimal Total = 0;

    protected override void OnInitialized()
    {
        Fecha = DateTime.Now.ToShortDateString();
        Lista = ProductosBLL.GetList(e => true);
        CalcularTotal();
    }

    private decimal CalcularTotal()
    {
        Total = 0;

        foreach (var producto in Lista)
        {
            Total += producto.Cantidad;
        }
        return Total;
    }

    protected async Task ExportToPdf()
    {
        using (MemoryStream excelStream = ExportService.CreatePdfProductos(Lista, Fecha, Total))
        {
            await JS.SaveAs("Productos.pdf", excelStream.ToArray());
        }
    }
}