@page "/Reportes/Clientes"
@using ProyectoFinalAp2.Models;
@using ProyectoFinalAp2.Controllers;

<div class="card">
    <div class="card-header alert-info">
        <div class="text-center">
            <img src="Resources/favicon.ico" height="90" />
        </div>

        <div class="text-center">
            <h3 class="text-center text-black-50">ButterSoft</h3>
            <h3 class="text-center text-black-50">Reporte de Clientes</h3>
        </div>

        <div class="float-right mb-4">
            <label for="FECHA">Fecha de impresion: @Fecha </label>
        </div>
    </div>

    <div class="card-body">
        <table class="table mb-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>RNC</th>
                    <th>DIRECCION</th>
                    <th>TELEFONO</th>
                    <th>EMAIL</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ClienteId</td>
                        <td>@item.Nombre</td>
                        <td>@item.RNC</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
    <div class="card-footer">
        <div class="form-group">
            <label>Total de Clientes</label>
            <input @bind="@cantidadCliente" class="form-control" readonly />
        </div>    
    </div>
</div>


@code {

    List<Clientes> lista = new List<Clientes>();
    private String Fecha;
    private int cantidadCliente = 0;

    protected override void OnInitialized()
    {
        Fecha = DateTime.Now.ToShortDateString();
        lista = ClientesBLL.GetList(c => true);
        CantidadCliente();
    }

    private void CantidadCliente()
    {
        cantidadCliente = this.lista.Count();
    }
}
