@page "/Consultas/EntradaProductos"
@page "/Consultas/EntradaProductos/{numPagina:int}"

@using ProyectoFinalAp2.Models;
@using ProyectoFinalAp2.Controllers;
@using ProyectoFinalAp2.Data;
@using ProyectoFinalAp2.Paginacion;
@using System.IO;
@using System.Linq.Expressions;

@inject ExportService exportService
@inject Microsoft.JSInterop.IJSRuntime JS
@inject IToastService toast

<EditForm Model="lista" OnValidSubmit="ExportToPdf">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header alert-info">
            <div class="text-center">
                <img src="Resources/favicon.ico" height="90" />
            </div>

            <div class="text-center">
                <h3 class="text-center text-black-50">Consulta Entrada de Productos</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <br />
                    <input class="align-self-center" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1">
                    <label for="DesdeFecha">Filtrar por fecha</label>
                </div>

                @if (BuscarFecha)
                {
                    <div class="form-group col">
                        <label for="DesdeFecha">Desde: </label>
                        <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control" input />
                    </div>

                    <div class="form-group col">
                        <label for="HastaFechaInput" class="mr-3">Hasta: </label>
                        <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control" />
                    </div>
                }

                <div class="form-group col">
                    <label for="filtro">Filtro: </label>
                    <select class="form-control" @bind="Filtro">
                        <option value="" disabled selected>Seleccione un filtro</option>
                        <option value="1">Todo</option>
                        <option value="2">ID</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="criterio"> Criterio: </label>
                    <input type="search" class="form-control" @bind-value="Criterio" />
                </div>

                <div class="form-group col mt-1">
                    <br />
                    <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
                </div>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Cantidad Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lista)
                        {
                            <tr>
                                <td>@item.EntradaProductoId</td>
                                <td>@item.Fecha</td>
                                <td>@item.CantidadTotal</td>
                                <td><a class="btn btn-outline-info" href="Registros/EntradaProductos/@item.EntradaProductoId">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group text-center">
                <ul class="pagination pagination-lg">
                    @for (int i = 1; i <= cantidadDePaginas; i++)
                    {
                        <li class="page-item Azul"><a class="page-link Azul" @onclick="SaltarPagina" href="Consultas/EntradaProductos/@i">@i</a></li>
                    }
                    <li class="page-item text-black-50"><a class="page-link text-black-50" @onclick="Salto"> ► </a></li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="GANANCIA">Cantidad Total</label>
            <input @bind="@Total" class="form-control" readonly />
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary form-control" @onclick="ExportToPdf">Exportar a PDF</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int numPagina { get; set; }

    private double cantidadDePaginas { get; set; } = 0;
    private double cantidadDeLista { get; set; } = 0;
    private int contador { get; set; }
    Paginas pagina = new Paginas();
    int Total;

    private List<EntradaProductos> lista { get; set; }

    private int Filtro { get; set; }
    private string Criterio { get; set; }
    public bool BuscarFecha = false;
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {
        lista = new List<EntradaProductos>();
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private decimal CalcularTotal()
    {
        Total = 0;

        foreach (var item in lista)
        {
            Total += item.CantidadTotal;
        }
        return Total;
    }

    private void ContarPaginas(Expression<Func<EntradaProductos, bool>> expression)
    {
        cantidadDeLista = EntradaProductoBLL.GetList(expression).Count();
        cantidadDePaginas = Math.Ceiling(cantidadDeLista / pagina.mostrarCantidad);
    }

    private void TomarPaginas(Expression<Func<EntradaProductos, bool>> expression)
    {
        lista = EntradaProductoBLL.GetList(expression);
        this.lista = EntradaProductoBLL.GetList(expression).Take(pagina.mostrarCantidad).ToList();
    }

    private void SaltarPagina()
    {
        contador = numPagina - 1;
        Salto();
    }

    private int GetAuxId()
    {
        int resultado = 0;

        try
        {
            resultado = Convert.ToInt32(Criterio);
            return resultado;
        }
        catch (Exception)
        {

        }

        return resultado;
    }

    private void Salto()
    {
        contador += pagina.pagina;
        contador = (contador >= cantidadDePaginas) ? 0 : contador;

        if (Filtro == 1)
        {
            this.lista = EntradaProductoBLL.GetList(p => true).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (Filtro == 2)
        {
            int id = GetAuxId();
            this.lista = EntradaProductoBLL.GetList(p => p.EntradaProductoId == id).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
    }

    private void Paginar(Expression<Func<EntradaProductos, bool>> expression)
    {
        ContarPaginas(expression);
        TomarPaginas(expression);
        SaltarPagina();
    }

    protected async Task ExportToPdf()
    {
        using (MemoryStream excelStream = ExportService.CreatePdfEntradaProductos(lista, DateTime.Now.ToString(), Total))
        {
            await JS.SaveAs("EntradaProductos.pdf", excelStream.ToArray());
        }
    }

    private async Task Buscar()
    {
        try
        {
            if (Filtro == null)
            {
                await JS.Confirmar("top-center", "info", "Aviso", "Debe seleccionar un filtro", false, 2000);
            }
            else
            {
                lista = EntradaProductoBLL.GetList(a => true);

                if (lista.Count == 0)
                {
                    await JS.Confirmar("top-center", "info", "Aviso", "No hay nada registrado", false, 2000);
                }
                else
                {
                    switch (Filtro)
                    {
                        case 1:
                            lista = EntradaProductoBLL.GetList(e => true);
                            break;
                        case 2:
                            lista = EntradaProductoBLL.GetList(e => e.UsuarioId == Convert.ToInt32(Criterio));
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = lista.Where(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date).ToList();
                    }

                    if (lista.Count == 0)
                    {
                        await JS.Confirmar("top-center", "error", "Error", "No se ha encontrado nada con este criterio", false, 2000);
                    }
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
        CalcularTotal();
    }
}