@page "/ConsultaFacturas"
@page "/ConsultaFacturas/{numPagina:int}"
@using ProyectoFinalAp2.Controllers
@using ProyectoFinalAp2.Models
@using ProyectoFinalAp2.Paginacion
@using System.IO;
@using ProyectoFinalAp2.Data;
@using System.Linq.Expressions
@inject Microsoft.JSInterop.IJSRuntime JS
@inject ExportService exportService

@inject IToastService toast

<div class="card">

    <div class="card-header  alert-info">
        <div class="text-center">
            <img src="Resources/favicon.ico" height="90" />
        </div>

        <div class="text-center">
            <h3 class="text-center text-black-50">Consulta de Facturas</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="form-row">
            <div class="form-group col">
                <br />
                <input class="align-self-center" type="checkbox" @bind="BuscarFecha" id="defaultCheck1">
                <label for="DesdeFecha">Filtrar por fecha</label>
            </div>

            @if (BuscarFecha)
            {
                <div class="form-group col">
                    <label for="DesdeFecha">Desde: </label>
                    <input id="DesdeFecha" type="date" @bind="DesdeFecha" class="form-control" input />
                </div>

                <div class="form-group col">
                    <label for="HastaFechaInput" class="mr-3">Hasta:</label>
                    <input type="date" Id="HastaFechaInput" @bind="HastaFecha" class="form-control" />
                </div>
            }

            <div class="form-group col">
                <label for="filtro">Filtro: </label>
                <select class="form-control" @bind="filtro">
                    <option value="" disabled selected>Seleccione un filtro</option>
                    <option value="1">TODO</option>
                    <option value="2">ID</option>
                    <option value="3">CLIENTE</option>
                    <option value="4">TOTAL</option>
                </select>
            </div>

            <div class="form-group col">
                <label for="criterio"> Criterio: </label>
                <input type="text" class="form-control" @bind="criterio" />
            </div>

            <div class="form-group col mt-1">
                <br />
                <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
            </div>
        </div>

        <table class="table mb-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CLIENTE</th>
                    <th>FECHA</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.FacturaId</td>
                        <td>@GetNombre(item.ClienteId)</td>
                        <td>@item.Fecha</td>
                        <td>@item.Total</td>
                        <td><a class="btn btn-outline-info" href="Facturas/@item.FacturaId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <label>Suma total</label>
            <input type="number" @bind="total" class="form-control" readonly />
        </div>

        <div class="form-group">
            <ul class="pagination pagination-lg">
                @for (int i = 1; i <= cantidadDePaginas; i++)
                {
                    <li class="page-item Azul"><a class="page-link Azul" @onclick="SaltarPagina" href="ConsultaFacturas/@i">@i</a></li>
                }
                <li class="page-item text-black-50"><a class="page-link text-black-50" @onclick="Salto"> ► </a></li>
            </ul>
        </div>

    </div>


    <div class="card-footer">
        <div class="form-group">
            <button type="button" class="btn btn-outline-primary form-control" @onclick="ExportToPdf">Exportar a PDF</button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int numPagina { get; set; }

    private double cantidadDePaginas { get; set; } = 0;
    private double cantidadDeLista { get; set; } = 0;
    private int contador { get; set; }
    Paginas pagina = new Paginas();

    List<Facturas> lista = new List<Facturas>();
    public bool BuscarFecha { get; set; }
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }
    public int filtro;
    public string criterio = string.Empty;
    public decimal total = 0;
    private int cantidad = 0;
    public List<AuxFactura> auxLista;
    public List<Facturas> auxfacturaLista = new List<Facturas>();

    protected override void OnInitialized()
    {
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void ContarPaginas(Expression<Func<Facturas, bool>> expression)
    {
        cantidadDeLista = FacturasBLL.GetList(expression).Count();
        cantidadDePaginas = Math.Ceiling(cantidadDeLista / pagina.mostrarCantidad);
    }

    private void TomarPaginas(Expression<Func<Facturas, bool>> expression)
    {
        lista = FacturasBLL.GetList(expression);
        this.lista = FacturasBLL.GetList(expression).Take(pagina.mostrarCantidad).ToList();
    }

    private void SaltarPagina()
    {
        contador = numPagina - 1;
        Salto();
    }

    private void Salto()
    {
        contador += pagina.pagina;
        contador = (contador >= cantidadDePaginas) ? 0 : contador;

        if (filtro == 1 || filtro==0) //todo
        {
            this.lista = FacturasBLL.GetList(p => true).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (filtro == 2) //ID
        {
            int id = GetAuxId();
            this.lista = FacturasBLL.GetList(p => p.FacturaId == id).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (filtro == 3) //Cliente
        {
            this.lista = FacturasBLL.GetList(p => p.Clientes.Nombre == criterio).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (filtro == 4) //Total
        {
            decimal total = GetAuxTotal();
            this.lista = FacturasBLL.GetList(p => p.Total == total).Skip(contador * pagina.mostrarCantidad).Take(pagina.mostrarCantidad).ToList();
        }
        if (BuscarFecha)//Fecha
        {
            if(filtro == 1 || filtro==0)
            {
                this.lista = FacturasBLL.GetList(p => true);
                lista = lista.Where(f => f.Fecha.Date >= DesdeFecha.Date && f.Fecha.Date <= HastaFecha.Date).ToList();
            }
            else
            {
                lista = lista.Where(f => f.Fecha.Date >= DesdeFecha.Date && f.Fecha.Date <= HastaFecha.Date).ToList();
            }

        }

    }

    private void Paginar(Expression<Func<Facturas, bool>> expression)
    {
        ContarPaginas(expression);
        TomarPaginas(expression);
        SaltarPagina();
    }

    private void CargarParaExportar()
    {
        if (filtro == 1 || filtro==0) //todo
        {
            this.auxfacturaLista = FacturasBLL.GetList(p => true);
        }
        if (filtro == 2) //ID
        {
            int id = GetAuxId();
            this.auxfacturaLista = FacturasBLL.GetList(p => p.FacturaId == id);
        }
        if (filtro == 3) //Cliente
        {
            this.auxfacturaLista = FacturasBLL.GetList(p => p.Clientes.Nombre == criterio);
        }
        if (filtro == 4) //Total
        {
            decimal total = GetAuxTotal();
            this.auxfacturaLista = FacturasBLL.GetList(p => p.Total == total);
        }
        if (BuscarFecha == true)//Fecha
        {
            this.auxfacturaLista = auxfacturaLista.Where(f => f.Fecha.Date >= DesdeFecha.Date && f.Fecha.Date <= HastaFecha.Date).ToList();
        }

    }

    private async Task Buscar()
    {
        try
        {
            if (criterio ==  string.Empty)
            {
                this.lista = FacturasBLL.GetList(f => true);
                Paginar(f => true);
                CargarParaExportar();

            }
            else
            {
                if (filtro != 0)
                {
                    switch (filtro)
                    {
                        case 1: //Todos
                            this.lista = FacturasBLL.GetList(f => true);
                            Paginar(f => true);
                            CargarParaExportar();
                            break;
                        case 2: //Id
                            int ID = await GetId();
                            this.lista = FacturasBLL.GetList(f => f.FacturaId == ID);
                            Paginar(f => f.FacturaId == ID);
                            CargarParaExportar();
                            break;
                        case 3: //cliente
                            this.lista = FacturasBLL.GetList(f => f.Clientes.Nombre == criterio);
                            Paginar(f => f.Clientes.Nombre == criterio);
                            CargarParaExportar();
                            break;
                        case 4: //Total
                            decimal total = await GetTotal();
                            this.lista = FacturasBLL.GetList(f => f.Total == total);
                            Paginar(f => f.Total == total);
                            CargarParaExportar();
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = lista.Where(f => f.Fecha.Date >= DesdeFecha.Date && f.Fecha.Date <= HastaFecha.Date).ToList();
                        Paginar(f => f.Fecha.Date >= DesdeFecha.Date && f.Fecha.Date <= HastaFecha.Date);
                        CargarParaExportar();
                    }
                    if (lista.Count() == 0)
                    {
                        await JS.Confirmar("top-center", "info", "Aviso", "No se ha encontrado nada.", false, 2000);
                    }
                }
                else
                {
                    await JS.Confirmar("top-center", "info", "Aviso", "Debe seleccionar un filtro", false, 2000);
                }
            }
            CalcularTotal();
        }
        catch (Exception)
        {

            throw;
        }
    }

    protected async Task ExportToPdf()
    {
        CargarListaAux();
        using (MemoryStream excelStream = ExportService.CreatePdfFacturas(auxLista, DateTime.Now.ToString(), total.ToString(),cantidad.ToString()))
        {
            await JS.SaveAs("Facturas.pdf", excelStream.ToArray());
        }
    }

    private void CargarListaAux()
    {
        try
        {
            this.auxLista = new List<AuxFactura>();
            if (lista != null)
            {
                foreach (var item in auxfacturaLista)
                {
                    this.auxLista.Add(new AuxFactura
                    {
                        ID = item.FacturaId,
                        Cliente = GetNombre(item.ClienteId),
                        Fecha = item.Fecha,
                        Total = item.Total
                    });
                }
            }
        }
        catch (Exception)
        {

            throw;
        }

    }

    private string GetNombre(int id)
    {
        var auxCliente = ClientesBLL.Buscar(id);
        string nombre = string.Empty;
        if (auxCliente != null)
            nombre = auxCliente.Nombre;
        else
            nombre = "Cliente Eliminado.";
        return nombre;

    }


    private async Task<int> GetId()
    {
        int resultado = 0;

        try
        {
            resultado = Convert.ToInt32(criterio);
            return resultado;
        }
        catch (Exception)
        {

            await JS.Confirmar("top-center", "error", "Error", "El Id debe ser numerico", false, 2000);
        }

        return resultado;
    }

    private int GetAuxId()
    {
        int resultado = 0;

        try
        {
            resultado = Convert.ToInt32(criterio);
            return resultado;
        }
        catch (Exception)
        {
        }

        return resultado;
    }

    private async Task<decimal> GetTotal()
    {
        decimal total = 0;

        try
        {
            total = Convert.ToDecimal(criterio);
            return total;
        }
        catch (Exception)
        {

            await JS.Confirmar("top-center", "error", "Error", "El total debe ser numerico.", false, 2000);
        }

        return total;
    }


    private decimal GetAuxTotal()
    {
        decimal total = 0;

        try
        {
            total = Convert.ToDecimal(criterio);
            return total;
        }
        catch (Exception)
        {

        }

        return total;
    }



    private void CalcularTotal()
    {
        decimal auxTotal = 0;
        int auxCantidad = 0;

        foreach (var item in auxfacturaLista)
        {
            auxTotal += item.Total;
            auxCantidad++;
        }

        total = auxTotal;
        cantidad = auxCantidad;
    }


}
