@page "/Consultas/Productos"

@inject IToastService toast

@using ProyectoFinalAp2.Models;
@using ProyectoFinalAp2.Controllers;

<EditForm Model="lista" OnValidSubmit="Imprimir">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header  alert-info">
            <div class="text-center">
                <img src="Resources/favicon.ico" height="90" />
            </div>

            <div class="text-center">
                <h3 class="text-center text-black-50">Consulta de Productos</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <br />
                    <input class="align-self-center" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1">
                    <label for="DesdeFecha">Filtrar por fecha</label>
                </div>

                @if (BuscarFecha)
                {
                    <div class="form-group col">
                        <label for="DesdeFecha">Desde: </label>
                        <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control" input />
                    </div>

                    <div class="form-group col">
                        <label for="HastaFechaInput" class="mr-3">Hasta: </label>
                        <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control" />
                    </div>
                }

                <div class="form-group col">
                    <label for="filtro">Filtro: </label>
                    <select class="form-control" @bind="Filtro">
                        <option value="" disabled selected>Seleccione un filtro</option>
                        <option value="Todo">Todo</option>
                        <option value="Id">ID</option>
                        <option value="Id">Categoria</option>
                        <option value="Descripcion">Descripcion</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="criterio"> Criterio: </label>
                    <input type="search" class="form-control" @bind-value="Criterio" />
                </div>

                <div class="form-group col mt-1">
                    <br />
                    <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
                </div>
            </div>

            <table class="table mb-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Categoria</th>
                        <th>Cantidad Existente</th>
                        <th>Precio</th>
                        <th>Fecha de Registro</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    @foreach (var item in lista)
                    {
                        <tr>
                            <td>@item.ProductoId</td>
                            <td>@item.Descripcion</td>
                            <td>@CategoriasBLL.Buscar(item.CategoriaiD).Descripcion</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Precio</td>
                            <td>@item.Fecha</td>
                            <td><a class="btn btn-outline-info" href="Productos/@item.ProductoId">Ver</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-primary form-control" @onclick="Imprimir">Imprimir</button>
        </div>
    </div>
</EditForm>

@code {

    private List<Productos> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    public string mensaje;
    public bool BuscarFecha { get; set; }
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {
        lista = new List<Productos>();

        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void Imprimir()
    {

    }

    private void Buscar()
    {
        try
        {
            if (Filtro == null)
            {
                toast.ShowWarning("Debe seleccionar un Filtro", "Aviso");
            }
            else
            {
                lista = ProductosBLL.GetList(e => true);

                if (lista.Count == 0)
                {
                    toast.ShowWarning("No hay Productos Registrados", "Aviso");
                }
                else
                {
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = ProductosBLL.GetList(e => true);
                            break;
                        case "ID":
                            lista = ProductosBLL.GetList(e => e.ProductoId == Convert.ToInt32(Criterio));
                            break;
                        case "Categoria":
                            lista = ProductosBLL.GetList(e => CategoriasBLL.Buscar(e.CategoriaiD).Descripcion == Criterio);
                            break;
                        case "Descripcion":
                            lista = ProductosBLL.GetList(e => e.Descripcion == Criterio);
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = ProductosBLL.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
                    }

                    if(lista == null)
                    {
                        toast.ShowInfo("Vacio", "No se han encontrado productos, revise su criterio de busqueda");
                    }
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
}